@font-face {
    font-family: "Silkscreen";
    src: url("./fonts/slkscr.ttf");
  }

body {
    height: 100vh;
    font-family:"Silkscreen", serif;
    overflow: hidden;
    margin: 0;
}

#container {
    display: flex;
    height: 100%;
    background-color: #4d5cb4;
    justify-content: center;
    align-items: center;

}

#inner-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    height: 100%;
    background-color:#252d5a;
    flex-basis: 70%;
}

h1 {
    color: white;
    text-align: center;
    margin: 30px;
}

#calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 500px;
    width: 400px;
}

#calc-display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #888787;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    height: 50px;
    width: 200px;
    font-size: 32px;
}